.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-weight: 400;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  padding: 4.5rem 2rem;
  background-color: hsl(204, 43%, 93%);
}

.wrap {
  border-collapse: separate;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  text-align: left;
  max-width: 375px;
  margin: auto;
  border-radius: 8px;
}

header, main, aside {
  padding: 2rem 1.5rem;
}

header {
  background-color: white;
}
.m-btm-1{
  margin-bottom: 1rem;
}
.m-btm-1_5{
  margin-bottom: 1.5rem;
}
.m-btm-0_5{
  margin-bottom: 0.5rem;
}
.m-btm-2{
  margin-bottom: 2rem;
}
header
.gray {
  color: hsl(218, 22%, 67%);
}

.light-gray {
  color: hsl(204, 43%, 93%);
}

.white {
  color: white;
}
.white-075{
  color: rgba(255, 255, 255, 0.75);
}
.dark-cyan {
  color: hsl(179, 62%, 43%);
}
.green{
  color: hsl(71, 73%, 54%);
}
.bold {
  font-weight: 700;
}

.fnt-2{
  font-size: 2rem;
}
main {
  background-color: hsl(179, 62%, 43%);
  color: white;
}

aside {
  background-color: hsl(179, 47%, 52%);
}

ul {
  list-style-type: none;
}

button {
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px;
  color: white;
  height: 50px;
  width: 100%;;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  body{
    padding: 0;
  }
.wrap{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
header{
  grid-column: 1 / span 2;
}
header, main, aside {
  padding: 2.5rem 2.5rem;
}

}

/* - Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */
